* {
    margin: 0px;
}

body {
    /* margin: 0px; */
    font-family: 'Roboto', sans-serif;
}

/* STILE HEADER */
header {
    height: 165px;
    background-image: url('../img/pattern.png');
    background-color: rgb(26, 163, 255);
}

#logo {
    width: 230px;
    height: 160px;
    padding-top: 50px;
    margin-left: 15px;
}

/* STILE MAIN */
h1 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

#data {
    font-size: 13px;
}

.gray {
    color: rgb(115, 115, 115);
}

.light-blue {
    color: rgb(26, 163, 255);
}

.yellow-background {
    background-color: yellow;
}

section>p {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* STILE TABELLA */
#tabella {
    margin: 20px 0px 20px 0px;
}

.lightblue-head {
    background-color: rgb(26, 163, 255);
}

.lightblue-background {
    background-color: rgb(179, 224, 255);
}